
section{
    margin: 0 auto;
    width:1898px;
    height:877px;
}
figure{
    margin-left: 70px;
    width: 500px;
    height: 400px;
    float: left;
}
figure>img {
    width: 500px;
    height: 400px;
    object-fit: cover;
}

figcaption{
    border: 1px solid white;
    color: white;
    width: 100px;
    height: 50px;
    margin-top: -150px;
    margin-left: 200px;
}
figcaption>button{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    width: 150px;
    height: 60px;
    color: white;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    transition: all .3s linear;
}
figcaption>button:hover{
    border: 2px solid white;
}
#lunbo{
    position: absolute;
    top: 0;
    z-index:1;
    width: 0;
    height: 0;
    background-color: grey;
    overflow: hidden;
}
#lunboson{
    background-image: url("img/1.jpg");
    background-size: cover;
    top: 100px;
    left: 300px;
    position: absolute;
    width:1200px;
    height: 700px;
    transition:  all .3s linear;
}
.qiehuan{
    position: absolute;
    top: 300px;
}
#right{
    right: 0;
}
#end{
    position: absolute;
    right: 0;
}